nav {
  margin-bottom: 1em;
}

.notification {
  margin: 1em auto;
}

ul {
  list-style-type: none
}

#users-list {
  height: 70vh;
  /*height: 100%;*/
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  overflow: scroll;
}

footer {
  height: 5px;
}

img#avatar {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

img#avatar-thumb {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
