html {
  height: 100%;
}

body {
 /*font-family: 'Roboto', sans-serif;*/
 /*font-size: 1.1em;*/
 color: white;
 padding-top: 50px; /* For fixed navbar */
 position: relative;
 padding-bottom: 0; /* needed for footer to not to conflict with content. */
 min-height: 100%;
 background-color: #111013;
 overflow-x: hidden;
}

.main {
  padding: 0;
  margin: 0;
}

footer {
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 height: 6vh;
 padding: 1em;
 background-color: #111013;
 text-align: right;
 opacity: 0.92;
 color: rgb(139, 123, 118);
}

img.avatar-thumb {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

img#avatar {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.sidebar {
  background-color: #222222;
  height: 86vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0;
}

.right-side {
  height: 86vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em 3em;
  background-color: white;
  color: black;
}

.profile {
  text-align: center;
  font-size: 120%;
}

.chatroom-users {
  margin: 0;
}

table.table {
  margin: 0.5em;
}

.form-inline {
  text-align: center;
  margin: 0 auto;
}

.form-inline textarea.form-control {
  width: 400px;
  margin: 0 auto;
}

.review {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.review h3 {
  margin-bottom: 1em;
}

.form-type {
  margin-bottom: 1.5em;
}

.sug-form h4 {
  margin: 1em auto;
}

.signup {
  height: 80vh;
  overflow-y: auto;
}

.users-panel {
  margin-top: 0.5em;
}

.alert {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*--------------------Modals------------------------*/

#modal-info {
  text-align: left;
}

#carousel {
  margin-bottom: 1.5em;
}

.rating {
  text-align: center;
}

a.inline-user {
  display: inline-block;
  margin: 0.5em;
}

/*------------------------------Home-------------------------*/

.home {
  margin: 0;
  padding: 0;
  height: 93vh;
  background: url('../public/city.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.home-logo {
  position: absolute;
  top: 45%;
  left: 40%;
  right: 40%;
  text-align: center;
}

.home-logo h1 {
  color: #222;
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: 700;
}

/*-------------------Messages------------------*/

#messages {
  overflow-y: auto;
  height: 60vh;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.message {
  padding: 0;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.message .message-header {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px dashed white;
  padding-right: 1em;
  margin: 0;
}

.message .message-body {
  padding: 0.5em;
}

.message-form {
  margin: 0 auto;
}

/*---------------------- List Menu -------------------------*/

aside.list-menu {
  margin: 0;
}

.list-menu-label {
  border-bottom: 2px solid #222222;
  background-color: #494E6B;
  border-radius: 10px 10px 0 0;


  font-size: 150%;
  text-align: center;
  margin: 0;
  padding: 0.5em;
}

ul.list-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list-menu-list li {
  display: block;
}

ul.list-menu-list li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  color: white;
  text-decoration: none;
}

ul.list-menu-list li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

ul.list-menu-list li a.active-item {
  background-color: rgba(255, 255, 255, 0.2);
}
