nav {
  margin-bottom: 1em;
}

.notification {
  margin: 1em auto;
}

ul {
  list-style-type: none
}

#users-list {
  overflow: scroll;
  height: 65vh;
}

#messages {
  overflow: scroll;
  height: 50vh;
}

#suggestions {
  overflow: scroll;
  height: 50vh;
}

.page-column {
  height: 88vh;
}

textarea.textarea {
  min-height: 3em;
}

footer#footer {
  min-height: 5vh;
  height: 5vh;
  border: 1px solid black;
}

img#avatar {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

img.avatar-thumb {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

a.inline-user {
  display: inline-block;
  margin: 0.5em;
}
